<!-- <div class="title">

<div class="card">
<div class="card-section">
</div>
</div> -->

<div class="first">
<%= image_tag "down_white.png" %>
</div>

<article>
  <div class="background">
    <div class="bg_img">
    </div>
  </div>
  <section>
    <div class="jump">
      <div class="cards"
    </div>
    <div class="container">
      <br>
      <br>
        <div class="large-6 medium-6 small-10 columns">
        <div class="wow bounceInLeft">
                    <div class="card transition">
                      <h2 class="transition">Let's Get Together</h2>
                      <p>Short on numbers? Round Out aims to match groups with individuals to round out numbers for an event.</p>
                      <div class="cta-container transition"><a href="/users/sign_up" class="cta">Sign Up Now</a></div>
                    </div>

          </div>
        </div>
        <div class="large-6 medium-6 columns show-for-medium-up">
        <div class="wow bounceInLeft">

                <div class="card transition">
                  <h2 class="transition">Already a member?</h2>
                  <p>Take a look at the events going on now near you, or create one yourself!</p>
                  <div class="cta-container transition"><a href="/events" class="cta">Events</a></div>
                </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
