<!-- <div class="title">

<div class="card">
<div class="card-section">
</div>
</div> -->

<div class="first">
<%= image_tag "down_white.png" %>
</div>

<article>
  <div class="background">
    <div class="bg_img">
    </div>
  </div>
  <section>
    <div class="jump">
      <br>
      <br>
    </div>
    <div class="container">
      <div class="small-4 columns">
        <div class="callout secondary">
          <h3 class="text-center">
            Thing
          </h3>
        </div>
      </div>
      <div class="small-4 columns">
        <div class="callout secondary">
          <h3 class="text-center">
            Thing 2
          </h3>
        </div>
      </div>
      <div class="small-4 columns">
        <div class="callout secondary">
          <h3 class="text-center">
            Thing 3
          </h3>
        </div>
      </div>

    </div>
  </section>
