@import "foundation_and_overrides";
@import "topbar";
@import "forms";
@import "event_index";
@import "event_show";
@import "user_profile";
@import "welcome";

.alert-box  {
  margin: 0;
  text-align: center;
  font-size: 16px;
}

.alert-box.radius {
  border-radius: 0;
}


// Small screens
@media only screen {
  .field em {
    font-size: 0.9rem;
  }

  .devise-shared-links label {
    font-size: 1.3rem;
    padding-top: 0.1rem;
  }

  .devise-shared-links h8 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 40em) {
  .bg_img {
    height : -5vh;
  }
}

// Medium screens
@media only screen and (min-width: 40.063em) {
  .bg_img {
    height : -5vh;
  }
}

// Large screens
@media only screen and (min-width: 64.063em) {
  .row {
    margin-left: auto;
  }
}

// XLarge screens
@media only screen and (min-width: 90.063em) {
}
