@import "foundation_and_overrides";
@import "topbar";
@import "forms";


// Small screens
@media only screen {
  .field em {
    font-size: 0.9rem;
  }

  .devise-shared-links label {
    font-size: 1.3rem;
    padding-top: 0.1rem;
  }

  .devise-shared-links h8 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 40em) {

}

// Medium screens
@media only screen and (min-width: 40.063em) {
  // .top-bar-section ul li a {
  //   font-size: 1rem;
  // }
}

// Large screens
@media only screen and (min-width: 64.063em) {
  // .top-bar-section ul li a {
  //   font-size: 1.1rem;
  // }
}

// XLarge screens
@media only screen and (min-width: 90.063em) {
}
