.avatar-event {
  height: 100px;
  width: 100px;
}

#map {
  height: 30rem;
  width: 50rem;
  padding-top: 5rem;
}

.event-pic-show {
  float: left;
}

.show {
  background: #ffffff;
}

.show-pic {
  align-items: center;
}
