.full-width {
  margin: 0 auto;
  max-width: initial;
  width: 100%;
}

.center-buttons {
  display: inline-block;
}

.top-bar {
  box-shadow: 0px 1px 25px;
  z-index: 51;
}

.top-bar-section ul li {
  .search-button {
    background: rgb(166, 84, 84);
  }
  .search-button:hover {
    background: rgb(126, 64, 64);
  }
  background: #2f5778;
}
